# Data Wrangling

El data wrangling, a veces denominada data munging , es el proceso de transformar y mapear datos de un data set "raw" a otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un data wrangler es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico , así como muchos otros usos potenciales. La oscilación de datos generalmente sigue un conjunto de pasos generales que comienzan con la extracción de los datos sin procesar del origen de datos, "removiendo" los datos sin procesar (por ejemplo, clasificación) o analizando los datos en estructuras de datos predefinidas y, finalmente, depositando el contenido resultante en un sumidero de datos para almacenamiento y uso futuro.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../datasets/customer-churn-model/Customer Churn Model.txt")

In [3]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Extraer un subconjunto de datos de un dataset

In [8]:
# Seleccionar una columna
account_length = data["Account Length"]

In [5]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [16]:
# El proceso de extraer una columna, nos devuelve una Serie
type(account_length)

pandas.core.series.Series

In [21]:
# Seleccionar más de una columna
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [22]:
# En el caso de tener múltiples columnas, se convierte en un DataFrame
type(subset)

pandas.core.frame.DataFrame

In [23]:
# Pedir una lista para hacer un subjconjunto del DataFrame original
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls","Day Calls"]
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Night Calls  Day Calls
0             128  382-4657       16.78           91        110
1             107  371-7191       16.62          103        123
2             137  358-1921       10.30          104        114
3              84  375-9999        5.26           89         71
4              75  330-6626       12.61          121        113

### Subconjunto de columnas

In [26]:
desired_columns = ["Account Length", "VMail Message", "Day Calls"]
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [27]:
all_columns_list = data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [30]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [31]:
subset = data[sublist]
subset.head()

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [34]:
a = set(desired_columns)
b = set(all_columns_list)
sublist = b-a
sublist = list(sublist)
sublist

['Day Charge',
 'Eve Calls',
 'Eve Mins',
 'Eve Charge',
 'Night Charge',
 'Night Calls',
 'Intl Charge',
 'Area Code',
 'CustServ Calls',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Night Mins',
 'Day Mins',
 'Churn?',
 'Intl Calls',
 'State',
 'Intl Mins']

### Subconjunto de filas

In [41]:
data[10:16]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.

In [43]:
data[:8]
# Es lo mismo que data[0:8]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.

In [46]:
data[3325:]
# Es lo mismo que data[3325:3332]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3325,OH,78,408,368-8555,no,no,0,193.4,99,32.88,...,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False.
3326,OH,96,415,347-6812,no,no,0,106.6,128,18.12,...,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False.
3327,SC,79,415,348-3830,no,no,0,134.7,98,22.90,...,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False.
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [72]:
# Usuarios con Day Mins > 330
data1 = data[data["Day Mins"]>330]
data1.shape

(7, 21)

In [73]:
# Usuarios de Nueva York (State = NY)
data2 = data[data["State"]=="NY"]
data2.shape

(83, 21)

In [75]:
# AND -> &
# Day Mins > 330 & State = NY
data3 = data[(data["Day Mins"]>330) & (data["State"]=="NY")]
data3.shape

(2, 21)

In [76]:
# OR -> |
# # Day Mins > 330 | State = NY
data4 = data[(data["Day Mins"]>330) | (data["State"]=="NY")]
data4.shape

(88, 21)

In [78]:
data5 = data[(data["Day Calls"]<data["Night Calls"])]
data5.shape

(1626, 21)

In [79]:
data6 = data[(data["Day Mins"]<data["Night Mins"])]
data6.shape

(2051, 21)

### Subconjunto de columnas y filas

In [89]:
# Day Mins, Night Mins, Account Length, 0:50
# subset = dataset[[columns]][rows]
subset_first_50 = data[["Day Mins","Night Mins","Account Length"]][:50]
subset_first_50.shape

(50, 3)

In [110]:
# Para acceder por posición o index
# dataset.iloc[rows,columns]
data.iloc[:10,3:6]

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [ ]:
# Todas las filas, y las columnas de la 3 a la 6
data.iloc[:,3:6]
# Las filas de la 0 a la 9, y todas las columnas
data.iloc[:10,:]

In [94]:
# Las filas de la 0 a la 9, y las columnas 2,5 y 7
data.iloc[:10,[2,5,7]]

   Area Code VMail Plan  Day Mins
0        415        yes     265.1
1        415        yes     161.6
2        415         no     243.4
3        408         no     299.4
4        415         no     166.7
5        510         no     223.4
6        510        yes     218.2
7        415         no     157.0
8        408         no     184.5
9        415        yes     258.6

In [96]:
# Las filas 1,3,5 y 7, y las columnas 2,4,6 y 8
data.iloc[[1,3,5,7],[2,4,6,8]]

   Area Code Int'l Plan  VMail Message  Day Calls
1        415         no             26        123
3        408        yes              0         71
5        510        yes              0         98
7        415        yes              0         79

In [109]:
# Para acceder por clave o etiqueta
# dataset.loc[rows,columns]
data.loc[[1,3,5,7],["Area Code","Int'l Plan","VMail Message","Day Calls"]]

   Area Code Int'l Plan  VMail Message  Day Calls
1        415         no             26        123
3        408        yes              0         71
5        510        yes              0         98
7        415        yes              0         79

In [113]:
data["Total Mins"]=data["Day Mins"]+data["Night Mins"]+data["Eve Mins"]
data["Total Mins"].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [115]:
data["Total Calls"]=data["Day Calls"]+data["Night Calls"]+data["Eve Calls"]
data["Total Calls"].head()

0    300
1    329
2    328
3    248
4    356
Name: Total Calls, dtype: int64

In [118]:
data.shape

(3333, 23)

In [119]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356

### Generación de números aleatorios

In [120]:
import numpy as np

In [125]:
# Generar un número aleatorio entero entre 0 y 100
np.random.randint(0,100)

26

In [133]:
# Generar un número aleatorio flotante entre 0 y 1
np.random.random()

0.45758722507125615

In [134]:
# Función que genera una lista de n números aleatorios enteros dentro del intervalo [a,b]
def randint_list(n,a,b):
    x = []
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [137]:
randint_list(20,0,10)

[3, 7, 0, 6, 2, 5, 6, 2, 2, 5, 9, 3, 9, 5, 4, 0, 1, 1, 6, 3]

In [138]:
import random

In [145]:
# random.randrange(desde,hasta,múltiplo de)
for i in range(10):
    print(random.randrange(0,100,7))

28
84
35
63
84
56
98
91
77
77

#### Shuffling

In [151]:
# arange = mezcla enttre array y range
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [152]:
# Barajar los objetos dentro del Array
np.random.shuffle(a)
a

array([47, 25, 11, 63,  3, 84,  5, 39, 97, 87, 67, 12, 46, 55, 54, 93,  9,
       66,  4, 22, 79, 71, 69, 26, 70, 99, 29, 77, 56, 16, 23, 32, 18, 89,
       45, 64, 80, 38, 30, 20, 52, 60, 59,  2, 72, 92, 73,  6, 50, 91, 98,
       31, 81, 74, 85, 15, 13, 96, 53, 94, 40, 82, 75, 49, 37, 95, 48, 58,
       36,  8, 35, 65, 42, 51, 41, 57, 88, 14, 62, 27, 33, 17, 78, 90,  0,
       76, 61,  7, 10, 68, 86,  1, 21, 24, 34, 44, 83, 28, 19, 43])