In [1]:
import pandas as pd

In [2]:
data_ads=pd.read_csv("../datasets/ads/Advertising.csv")

In [3]:
data_ads.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
len(data_ads)

200

In [5]:
import numpy as np

In [11]:
data_ads["corrn"] = (data_ads["TV"]-np.mean(data_ads["TV"]))*((data_ads["Sales"])-np.mean(data_ads["Sales"]))

In [12]:
data_ads.head()

      TV  Radio  Newspaper  Sales       corrn
0  230.1   37.8       69.2   22.1  670.896956
1   44.5   39.3       45.1   10.4  371.460206
2   17.2   45.9       69.3    9.3  613.181206
3  151.5   41.3       58.5   18.5   19.958456
4  180.8   10.8       58.4   12.9  -37.892794

In [ ]:
data_ads["corr1"] = (data_ads["TV"] - np.mean(data_ads["TV"]))